#page {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#footer {
  position: fixed;
  bottom: 0;
}
body {
  position: relative;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3a3a3a 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}

/* Placements */
.absolute {
  position: absolute;
}

/* Images resizing */
.logo_size {
  width: 70px;
}

/*************** SideBar ***************/
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 40;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 0px;
  margin-left: 0px;
}

.sidenav a {
  padding: 8px 0px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav form {
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Button Of the SideBar */
.transitionButton {
  position: absolute;
  transition: 0.5s;
  top: 40;
  right: 25px;
  font-size: 36px;
  background-color: #111;
  width: 36px;
  left: 0px;
  padding: 5px 40px 5px 10px;
  margin: 0px;
}

.transitionButton a {
  text-decoration: none;
  color: #818181;
}

.transitionButton a:hover {
  color: #f1f1f1;
}

.smoothTransition {
  transition: 0.5s;
  padding-left: 170px;
}

.noPaddingForSideBar {
  padding-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
