#page {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#footer {
  position: fixed;
  bottom: 0;
}

.container {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  width: auto;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
.col.s6 > .btn {
  width: 100%;
}

.container {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #3a3a3a;
}
.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}

/* Placements */
.absolute {
  position: absolute;
}

/* Images resizing */
.logo_size {
  width: 70px;
}

/*************** SideBar ***************/
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 40;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 0px;
  margin-left: 0px;
}

.sidenav a {
  padding: 8px 0px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav form {
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Button Of the SideBar */
.transitionButton {
  position: absolute;
  transition: 0.5s;
  top: 40;
  right: 25px;
  font-size: 36px;
  background-color: #111;
  width: 36px;
  left: 0px;
  padding: 5px 40px 5px 10px;
  margin: 0px;
}

.transitionButton a {
  text-decoration: none;
  color: #818181;
}

.transitionButton a:hover {
  color: #f1f1f1;
}

.smoothTransition {
  transition: 0.5s;
  padding-left: 170px;
}

.noPaddingForSideBar {
  padding-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.footer h3 {
  font-family: "Helvetica";
  font-size: 30px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
}

/* VOIR TOUT LES MEUBLES CSS */

#nav_furniture {
  float: left;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 0;
  padding-left: 40px;
  width: 40%;
  height: 21em;
  line-height: 2em;
  overflow-x: hidden;
}

#search_furniture_list {
  float: left;
  margin-bottom: 1em;
  margin-left: 18.5%;
  width: 37%;
}

#description_furniture {
  display: block;
  text-align: center;
}

/* HOME PAGE */

.carousel .item {
  height: 500px;
}
