.containerForm {
  background: white;
  padding: 20px 25px;
  border: 5px solid #26a69a;
  width: auto;
  height: auto;
  box-sizing: border-box;
  position: relative;
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

.footerText {
  text-align: center;
  background-color: black;
  color: white;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/*************** Carousel HomePage ***************/
#carouselExampleIndicators {
  margin-right: 150px;
  margin-bottom: 25px;
  width: 300px;
}
#carouselExampleIndicators img {
  width: 100%;
  margin: auto;
}
.carouselArrow {
  font-size:48px;
  color: blueviolet;
}
.carouselCircle {
  color: blueviolet;
  opacity: 0.33;
}

/*************** Placements ***************/
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.moveOnRight {
  left: 10%;
}

.onLeft {
  position: absolute;
  left: 0%;
  background-color: white;
  width: 200px;
}

/*************** Button resizing ***************/
.samebutton {
  width: 180px;
}

/*************** Images resizing ***************/
.logo_size {
  width: 70px;
}

.width-15 {
  width: 15%;
}

.max_width {
  width: 100%;
}

/*************** SideBar ***************/
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 0px;
  margin-left: 0px;
}

.patron {
  top: 55%;
}

.sidenav a {
  padding: 8px 0px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav form {
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/*************** Button Of the SideBar ***************/
.transitionButton {
  position: absolute;
  transition: 0.5s;
  right: 25px;
  font-size: 36px;
  background-color: #111;
  width: 36px;
  left: 0px;
  padding: 5px 40px 5px 10px;
  margin: 0px;
}

.transitionButton a {
  text-decoration: none;
  color: #818181;
}

.transitionButton a:hover {
  color: #f1f1f1;
}

.smoothTransition {
  transition: 0.5s;
  padding-left: 170px;
}

.noPaddingForSideBar {
  padding-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*************** VOIR TOUT LES USER CSS ***************/
#nav_user {
  display: inline-block;
}

#description_user {
  display: block;
  text-align: center;
}

/*************** VOIR TOUT LES MEUBLES CSS ***************/

#nav_furniture {
  float: left;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 0;
  padding-left: 40px;
  width: 40%;
  height: 21em;
  line-height: 2em;
  overflow-x: hidden;
}

#search_furniture_list {
  float: left;
  margin-bottom: 1em;
  margin-left: 18.5%;
  width: 37%;
}

#description_furniture {
  display: block;
  text-align: center;
}

/*************** HOME PAGE ***************/

.centrer {
  padding: 30px 200px;
}

/*************** AJOUTER UN MEUBLE ***************/
#addFurniture {
  display: block;
  margin-bottom: 200px;
  width: 600px;
  margin-top: 0px;
}
/*************** VISIT FORM ***************/

#flexbox {
  column-gap: 50px;
}

#flexbox > div {
  flex: auto;
}


/*************** MAP ***************/
#map {
  width: 200px;
  height: 300px;
}